<p id="notice"><%= notice %></p>

<% if !@user %>
Welcome to Stockifier! <br/>
Please sign up or sign in. <br/><br/>

Here you have $5000 to invest in whichever DOW 30 stocks you would like.<br/>
You can see your portfolio, with fun colors depending on how the stock is doing, and all the transcations you've made. 

<% end %>


<% if @user %>
  <br/>
  <h2><%= link_to 'Buy Stocks', new_stock_path %></h2>
  <br/>
  <h3>You have $<%= 5000 - @stocks_sum %> left to invest</h3>
  <h5>I am using an API sandbox, so we have access to the DOW 30 stocks data only. <br/></h5>
<br/>
<br/>
  <h2>Transactions:</h2>

    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Ticker</th>
          <th>Shares</th>
          <th>Price</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.user_id %></td>
            <td><%= stock.ticker %></td>
            <td><%= stock.shares %></td>
            <td><%= stock.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <br>
<% end %>



