<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @stock.user_id %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @stock.ticker %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @stock.shares %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
